body {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.center {
  text-align: center;
}

.navbar-fixed-bottom {
  padding-top: 10px;
  min-height: 40px;
}

.price {
  margin-top: 30px;
}

.suggest-area {
  margin-top: 40px;
}