body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  color: black;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.center {
  text-align: center;
}

.navbar-fixed-top {
  border: none;
  background-color: #ef4832;
}

.navbar-fixed-bottom {
  padding-top: 10px;
  min-height: 40px;
}

.navbar .navbar-brand {
  color: white;
}

.price {
  margin-top: 30px;
}

.suggest-area {
  margin-top: 40px;
}

.navbar {
	background-color: #FFaf40;
}

.icon {
	width: 30px;
}

.dish-name {
	color: #B1ABAE;
}

.dish-image-container .icon-spinner {
  font-size: 50px;
  margin: 75px 0;
}