<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <img ng-src="{{dish.imagePath}}" class="img-responsive"></img>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row" ng-show="dish.name">
        <div class="col-md-12">
          <h2><i>{{dish.name}}</i></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <h3><i class="icon-home"></i> {{dish.restaurantName}}</h3>
        </div>

        <div class="col-xs-4">
          <h6 class="pull-right price">{{dish.price | currency:"&#3647; "}}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="center suggest-area">
      <a href="#/suggest">
        <button type="button" class="btn btn-primary" ng-click="suggest()">Suggest Me</button>
      </a>
    </div>
  </div>
</div>