<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <img src="{{dish.imagePath}}" class="img-responsive"></img>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-8">
          <h3><i class="icon-home"></i> {{dish.restaurantName}}</h3>
        </div>

        <div class="col-xs-4">
          <h6 class="pull-right price">&#3647; {{dish.price}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>